
@{
    ViewData["Title"] = "Movies";
}

<h4>@ViewData["Title"]</h4>

<ul>
    <li><a href="https://www.imdb.com/list/ls053181649/videoplayer/vi1376893465?ref_=hm_hp_i_1">Hotel Mumbai (2018)</a></li>
    <li><a href="https://www.imdb.com/list/ls053181649/videoplayer/vi3203841305?ref_=vp_pl_1">John Wick: Chapter 3 - Parabellum (2019)</a></li>
    <li><a href="https://www.imdb.com/list/ls053181649/videoplayer/vi3455499545?ref_=vp_pl_8">Deadwood (2019)</a></li>
</ul>
